# .gitignore

# Virtual environment
venv/
venv/*

# Compiled Python files
__pycache__/

# .env file (containing sensitive information)
.env

# IDE specific files
.vscode/
*.pyc

# Other project-specific files/directories
# ...
